* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-image: url("img/map.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

p {
    text-align: center;
}

span {
    font-size: 30px;
}

img {
    border-radius: 50%;
}

.top-box-section p {
    color: #bbb;
    font-size: 14px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header, .number-section, .box-section {
    width: 100%;
    margin-bottom: 50px;
}

.main-phrase {
    font-size: 40px;
    text-align: center;
    color: rgb(17, 16, 16);
}

.number-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.grid-section span {
    color: indigo;
    font-weight: 600;
}

.box {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 250px;
    background-color: #fff;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid #bbb;
}

.middle-box {
    margin-top: 100px;
}

.top-box-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    height: 70%;
    width: 100%;
    position: relative;
}

.avatar {
    position: absolute;
    bottom: -20px;
}

.bottom-box-section {
    text-align: center;
    color: #fff;
    padding: 20px;
    height: 30%;
    width: 100%;
    border-radius: 0 0 8px 8px;
}

.bg-color-1 {
    background-color:hotpink;
}

.bg-color-2 {
    background-color: blue;
}

.bg-color-3 {
    background-color:darkturquoise;
}

@media screen and (max-width:600px) {
    .number-section{
        display: none;
    }

    .middle-box {
        margin-top: 10px;
    }

    .box-section {
        display: flex;
        flex-wrap: wrap;
    }
}